/* * {
  outline: 1px solid red;
} */
body {
    background-image: linear-gradient(
      158.4deg,
      rgba(19, 19, 24, 1) 0%,
      rgba(18, 18, 22, 0.82) 100%
    );
  }
  #jmc {
    width: 193px;
    height: 95px;
    text-align: left;
    font-family: Stencil;
    font-size: 50px;
    color: rgba(254, 254, 254, 1);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-left: 5%;
  }
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(254, 254, 254, 1) !important;
    letter-spacing: 0.8px;
    text-transform: capitalize;
  }
  .active {
    color: #ffc62a !important;
    text-decoration: underline;
    text-underline-offset: 13px;
  }
  #aboutMe{
    width: 277px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -15px;
    text-align: center;
    font-family: Stencil;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(254, 254, 254, 1);
    letter-spacing: 3px;
  }
  .containerAbout{
    width: 90%;
    margin: 5%;
  }
  #we{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 8px;
  }
  #hobbies{
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 8px;
  }
.year{
    font-family: Stencil;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;

    background: rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255,255,255,0.025);
    border-radius: 10px;
}
p{
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 30px;
}
.company{
    font-size: 25px;
    font-family: Montserrat;
}

.big-card{
  /* width: 15vmin; */
  width: 150px;
  border-radius: 2vmin;
}
.card{
  aspect-ratio: 5/7;
  background-color: transparent;
  position: absolute;
  transition: transform 500ms cubic-bezier(.05,.43,.25,.95);
  border-radius: 3vmin;
}
.card-group, .card{
  aspect-ratio: 5/7;
}

.big-card:nth-child(1) {
  /* background-color: blue; */
  transform: translateX(-10%) rotate(-1deg);
}
.big-card:nth-child(2) {
  /* background-color: green; */
  transform: rotate(2deg);
}
.big-card:nth-child(3) {
  /* background-color: red; */
  transform: translateX(-6%) rotate(-3deg);
}
.big-card:nth-child(4) {
  /* background-color: grey; */
  transform: translate(10%, 3%) rotate(5 deg);
}
.card-group:hover > .big-card:nth-child(1){
  transform: translate(-75%, 16%) rotate(-24deg);
}
.card-group:hover > .big-card:nth-child(2){
  transform: translate(-25%, 8%) rotate(-8deg);
}
.card-group:hover > .big-card:nth-child(3){
  transform: translate(25%, 8%) rotate(8deg);
}
.card-group:hover > .big-card:nth-child(4){
  transform: translate(75%, 16%) rotate(24deg);
}
img{
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 2vmin;
}