/* *{
    outline: 2px solid red;
} */
body {
    background-image: linear-gradient(
      158.4deg,
      rgba(19, 19, 24, 1) 0%,
      rgba(18, 18, 22, 0.82) 100%
    );
  }
  #jmc {
    width: 193px;
    height: 95px;
    text-align: left;
    font-family: Stencil;
    font-size: 50px;
    color: rgba(254, 254, 254, 1);
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-left: 5%;
  }
  a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    color: rgba(254, 254, 254, 1) !important;
    letter-spacing: 0.8px;
    text-transform: capitalize;
  }
  .active {
    color: #ffc62a !important;
    text-decoration: underline;
    text-underline-offset: 13px;
  }
  #projects_q {
    width: 277px;
    white-space: nowrap;
    line-height: 80px;
    margin-top: -15px;
    text-align: center;
    font-family: Stencil;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(254, 254, 254, 1);
    letter-spacing: 1px;
  }
  #bkk {
    width: 100%;
    height: 571px;
    border: 8px solid #ffffff;
    border-radius: 25px;
    position: relative;
  }
  #bkkImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
  #bkk-card-body {
    background: rgba(51, 51, 68, 0.75);
    backdrop-filter: blur(17px);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    /* animation-timing-function: ease-in;
    transition: 1s; */
    transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  }
  #bkk:hover #bkk-card-body {
    z-index: 1;
  }
  .bkk-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 60px;
    color: rgba(255, 198, 42, 1);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  .bkk-info {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 50px;
  }
  #bkkBtn {
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 20%;
  }
  /* dashboard  */
  #dashboard {
    width: 100%;
    height: 571px;
    border: 8px solid #ffffff;
    border-radius: 25px;
    position: relative;
  }
  #dashImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
  #dash-card-body {
    background: rgba(51, 51, 68, 0.75);
    backdrop-filter: blur(17px);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    animation-timing-function: ease-in;
    transition: 1s;
  }
  #dashboard:hover #dash-card-body {
    z-index: 1;
  }
  .dash-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 60px;
    color: rgba(255, 198, 42, 1);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  .dash-info {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 50px;
  }
  #dashBtn {
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 20%;
  }
  /* sierra  */
  #sierra {
    width: 100%;
    height: 571px;
    border: 8px solid #ffffff;
    border-radius: 25px;
    position: relative;
  }
  #sierraImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
  }
  #sierra-card-body {
    background: rgba(51, 51, 68, 0.75);
    backdrop-filter: blur(17px);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -100;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
    animation-timing-function: ease-in;
    transition: 1s;
  }
  #sierra:hover #sierra-card-body {
    z-index: 1;
  }
  .sierra-title {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 60px;
    color: rgba(255, 198, 42, 1);
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 80px;
  }
  .sierra-info {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 50px;
  }
  #sierraBtn {
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 20%;
  }